/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;500;700&display=swap');

/* all resets */
:root {
  --white: #fff;
  --light: #eee;
  --grey: #999;
  --dark: #333;
  --black: #111;
  --black-translucent: rgba(0, 0, 0, 0.7);
  --blue: #0000CD;
  --darkBlue: #00008B;
  --red: #e60000;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* body */

body {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.planet-icon {
  max-width: 48px;
}

.body-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

/* aside */

.aside-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./img/milky-way.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.aside-logo {
  background-color: var(--black-translucent);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  margin-top: 100px;
}

.aside-logo h1 {
  color: var(--light);
  font-size: 32px;
  font-family: "Great Vibes";
  margin-bottom: -6px;
}

.aside-credits p,
.aside-credits a,
.aside-logo p {
  font-size: 10px;
  font-weight: 200px;
  color: var(--light);
  text-align: center;
  padding: 4px 0;
}

.aside-logo p {
  text-align: left;
  margin-top: -12px;
  font-style: italic;
}

/* main container */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light);
  width: auto;
}

.main-container > div{
  padding: 24px 0px 16px 32px;
}

.main-container p {
  font-weight: 400;
}

.main-message p:last-child {
  margin-top: 8px;
}

/* main container top */

.main-message p {
  max-width: 400px;
}

/* main continer form */

.form-container {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, .1) 0px 6px 6px -2px;
}

.form-container > * {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 32px;
}

.form-container > *:nth-child(9),
.form-container > *:nth-child(10) {
  margin-bottom: 0;
}

.form-container > div > label {
  display: block;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: .8px;
  text-transform: uppercase;
  font-family: "roboto" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2;
}

.form-container > div > input {
  padding: 3px 6px;
  font-size: 12px;
  border: 1.2px var(--grey) solid;
  border-radius: 4px;
  min-width: 150px;
  color: var(--black);
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container > div > input:focus {
  border: 1.2px solid var(--blue);
  outline: none;
}

.form-container > div > input::placeholder {
  color: var(--grey);
  font-weight: 400;
}

#password-red {
    border: 1.2px solid var(--red);
    outline: none;
}

.err-msg {
  display: block;
  font-size: 8px;
  color: var(--red);
}

.inactive {
  display: none;
}

/* main container call to action */

.cta-container {
  padding-top: 24px !important;
}

.cta-container button {
  all: unset;
  background-color: var(--darkBlue);
  color: var(--light);
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 4px;
}

.cta-container p,
.cta-container a {
  font-size: 12px;
}

.cta-container a {
  text-decoration: none;
  color: var(--blue);
}



/* footer */

.footer {
  background-color: var(--black);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 16px;
  height: 32px;
  display: relative;
}

.footer p {
  font-size: 12px;
}

.footer a {
  padding-top: 4px;
}

.social-icon {
  max-width: 14px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: auto 0;
  display: absolute;
}
